@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif !important;
}

@font-face {
  font-family: "Tesla";
  src: local("Tesla"), url(./fonts/TESLA.ttf) format("truetype");
}

.title-nav {
  font-family: Tesla, serif !important;
  color: #fff !important;
}
